{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
<img src="assets/img/logo-v2.png"/>
{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
 
    {% for record in data %}
     <div class="col-md-6" style="background-color: #999"> {# nr 4#}    {# HIer maken we een nieuwe bootstrap opdeling binnen content iedere 6 #}


        <div class="row">
            <img src="assets/img/gerechten/{{record.gerecht.afbeelding}}" style="width: 400px; height: 200px;">
        </div> {# #}
        <div class="row">
            <div class="col-md-6" style="background-color: #ffffff"> {# nr 3#}
            {{ record.gerecht.titel }}
            {# sub-loop #}
            
                {% for ingr in record.ingredienten %}
               
                    
                        <span {% if ingr.id < 3 %}style='color: #F00'{% endif %}>{{  ingr.naam }}</span>

                        {# if #}
                        {%  if ingr.id == 3 %}
                            <strong>Dit is ID 3!</strong>
                        {%  endif  %}
                    
                    
                {% endfor %}
            </div> {# nr 3#}
                 <div class="col-md-6" style="background-color: #097"> Hello {# nr 2#}
                 </div> {# nr 2#}

        </div>
        <div class="row">

        </div>
        </div> {# nr 4#}
    {% endfor %}
    <ul>
     {# Dump #}
       <pre>
        {#{{ dump(data) }}#}
       </pre>

{% endblock %}
