<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="assets/jquery/custom.js"></script>                                                             <!-- Adds my self made javascript file -->

    {# load Vegas #}
    <link rel="stylesheet" href="assets/css/vegas-style.css"/>
    <link rel="stylesheet" href="assets/vegas/vegas.css"/>
    <script src="assets/jquery/jquery-3.5.1.js"></script>
    <script src="assets/vegas/vegas.js"> </script>

</head>
<body>


<div class="container-fluid"  style="width: 1700px">

    {# 1ste row met de header 12 -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
    <div class="mb-4">
    <div id="background-image"> 
        <a href="http://localhost/educom-verrukkulluk-1668679088/index.php"> <img src="assets/img/logo-v2.png"/> </a>         {# Dit gedeelte voegt het logo toe met eenlink naar de homepage#}
        {% block header %}
        {% endblock %}   
    </div> <!-- background-image -->
    </div>

    {# 2de row met de agenda en login ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
    <div class="row">
    
        {# Linker helft ======================================================== #}
        <div class="col-md-4 " style="background-color: #FFF">

            {# ///////////////// Agenda ///////////////// #}
            <div class="p-5"> <!-- opent ruimte rondom agenda -->
            <div class="col-md-12 p-4" style="background-color: #6e8722">                                                           {# Voegt groene achterkant toe en padding rond tekst#}
                <center> <img src="assets/img/verrukkulluk-agenda.png" style="height: 80px; width: 187px"/> </center> <br>
                {% for calendar in 0..5 %}
                    <p> <h3>  <i class="fa fa-calendar-day" style="color:white"></i>                                    
                    Vegatarisch koken </h3> 
                    Een workship vegatarisch koken onder leiding van Bobby </p>
                {% endfor %}
            </div> {# Einde agenda class #} {# Hier stonden de line breaks #}
            </div>{# EIndigd de pt-5 #}

            {# ///////////////// Login ///////////////// #}
            <div class="p-5">
            <div class="col-md-12 p-4 background-red">
                <center class="pb-3"> <img src="assets/img/verrukkulluk-login.png" style="height: 80px; width: 187px"/> </center>
                <form id="form">
                    <div class="white pb-3"> Email: 
                    <input type="text" name="name" style="width: 350px"> </div>

                    <div class="white pb-4"> Wachtwoord 
                    <input type="text" name="wachtwoord" style="width: 350px"> </div>
                </form>
                <center> <div id="login" class="login_button"> Login </div> </center>                                               {# Login button#}
            </div> 
            </div>


            <!-- Voorbeeld
            <h2>Agenda</h2>
            <i class="fa fa-calendar"></i> FontAwesome <a href="https://fontawesome.com/icons?d=gallery&m=free">Documentation</a><br>
            <i class="fa fa-file-pdf"></i><a href="https://www.layoutit.com/build">Layout-it</a>
            -->
        </div> {# Eindigd de col md-4 #}
        

        {# rechter helft ======================================================== #}
        <!-- Content -->
        <div class="col-md-8" >
            <div class="row">
                {%  block content %}

                {%  endblock %}
            </div>
        </div> {# eindigd col 9 #}
    </div> {# Einigd class row #}


    {# 3de en laatste row met de footer --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
    <div class="row">
        <div class="col-md-12" style="background-color: #e85d04; color: #FFF">
            <img src="assets/img/verrukkulluk-pay-off.png" style="height: 100px; width: 100px"/> <br>
            <img src="assets/img/verrukkulluk-contact.png" style="height: 80px; width: 187px"/> <br>
            verrukkulluk.nl <br>
            Poststraat 2b <br>
            Sittard <br>
            info@verrukkulluk.nl
        </div>
    </div>


</div> {# Einde container-fluid #}

</body>
</html>    
