<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="assets/jquery/custom.js"></script>                                                             <!-- Adds my self made javascript file -->

    {# load Vegas #}
    <link rel="stylesheet" href="assets/css/vegas-style.css"/>
    <link rel="stylesheet" href="assets/vegas/vegas.css"/>
    <script src="assets/jquery/jquery-3.5.1.js"></script>
    <script src="assets/vegas/vegas.js"> </script>

</head>
<body>


<div class="container-fluid"  style="width: 1700px">

    {# 1ste row met de header 12 -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
    <div class="mb-4">
    <div id="background-image"  class="pl-5 pt-4" style="height: 700px"> 
        <a href="http://localhost/educom-verrukkulluk-1668679088/index.php"> <img src="assets/img/logo-v2.png" style="height: 250px; width: auto"/> </a>         {# Dit gedeelte voegt het logo toe met eenlink naar de homepage#}
        {% block header %}
        {% endblock %}   
    </div> <!-- background-image -->
    </div>

    {# 2de row met de agenda en login ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
    <div class="row">
    
        {# Linker helft ======================================================== #}
        <div class="col-md-4 background-white">
        <div class="m-4-5">                                                                                                             {# margin rond Agenda & Login #}

            {# ///////////////// Agenda ///////////////// #}

            <div class="mb-4-5-x2"> {# opent ruimte onder agenda #}
                <div class="col-md-12 background-darker-green p-4 custom-shadow">                                                    {# Voegt groene achterkant toe, padding rond tekst & een shadow#}

                    <img src="assets/img/verrukkulluk-agenda.png" class="logos center-horizontal mb-4"/> 
                    {% for calendar in 0..5 %}
                        <div class="row">
                            <div class="col-md-2">   <i class="fa fa-calendar-day white fa-2-3x"></i> </div>                                    
                            <div class="col-md-10 mb-3"> <h3>Vegatarisch koken </h3>
                            Een workship vegatarisch koken onder leiding van Bobby  </div>
                        </div>
                    {% endfor %}

                </div> {# Einde agenda md-12 class #} 
            </div>{# EIndigd de mb-4-5-x2 #}

            {# ///////////////// Login ///////////////// #}

            <div class="col-md-12 background-red p-4 custom-shadow">
                <img src="assets/img/verrukkulluk-login.png" class="logos center-horizontal mb-2"/>
                <form id="form" class="ml-4">
                    <div class="white"> Email </div>
                    <div class="pb-3"> <input type="text" name="name" style="width: 350px"> </div>

                    <div class="white"> Wachtwoord </div>
                    <div class="pb-4"> <input type="text" name="wachtwoord" style="width: 350px"> </div>
                </form>
                <center> <div id="login" class="login_button"> Login </div> </center>                                               {# Login button#}
            </div> 



            <!-- Voorbeeld
            <h2>Agenda</h2>
            <i class="fa fa-calendar"></i> FontAwesome <a href="https://fontawesome.com/icons?d=gallery&m=free">Documentation</a><br>
            <i class="fa fa-file-pdf"></i><a href="https://www.layoutit.com/build">Layout-it</a>
            -->
        </div> {# Eindigd de col md-4 #}
        </div>
        

        {# rechter helft ======================================================== #}
        <!-- Content -->
        <div class="col-md-8" >
            <div class="row">
                {%  block content %}

                {%  endblock %}
            </div>
        </div> {# eindigd col 9 #}
    </div> {# Einigd class row #}


    {# 3de en laatste row met de footer --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}
    <div class="row" style="height: 400px">
        <div class="col-md-2 background-lighter-orange pt-5 pl-5">
            <img src="assets/img/verrukkulluk-pay-off.png" class="logos-xxl"/> 
        </div>
        <div class="col-md-10 background-lighter-orange white pt-5">
            <img src="assets/img/verrukkulluk-contact.png" class="mb-4 logos-xl"/> 
            <div> verrukkulluk.nl </div>
            <div> Poststraat 2b </div>
            <div> Sittard </div>
            <div> info@verrukkulluk.nl <div>
        </div>
    </div>


</div> {# Einde container-fluid #}

</body>
</html>    
